.soldOut{
	background-color: lightgrey;
}
th, td {
  border-bottom: 1px solid #ddd;
}
button {
	border-radius: 12px;
	width: 60%;
	font-size: 16px;
}
h1{
    font-family: Arabian;
    font-size: 80px;
    margin-bottom: 0px;
}
.Content{
    text-align: center;
    max-width: 800px;
    vertical-align: middle;
    margin: auto;
    background-color:#c1dff0;
    Font-size: 20px;
}
.GameContainer {
    background-color: #109bdc;
    padding:20px;
    font-size: 30px;
    border-radius: 50px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.TopUI{
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: 20px;
}
.Board{
    display:grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 3px;
    padding: 10px;
    border: 20px solid #ffff;
    border-radius: 35px;
}
.TwoCol{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding-left:20px;
    padding-right:20px;
}

.Pit {
    background-color: rgba(255,255,255,0.7);
    padding: 20px;
    margin:0;
    border: 3px solid #ffff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arabian;
}
.Valid{
    border: 3px solid #ffff;
    animation: border-pulsate 2s infinite;
}
.Valid:Hover{
    background-color: rgba(255,255,255,0.9);
}
.Active{
    border: 3px solid #ffff;
    border-radius:20px;
    animation: border-pulsate 2s infinite;
}
.Player{
    border: 3px solid #ffff;
    border-radius:20px;
}


.DropDown{
    transition: top .5s ease-in;/*cubic-bezier(.5,.25,.5,1.5);*/
}
@keyframes border-pulsate {
    0%   { border-color: rgba(255, 255, 255, 1); }
    50%  { border-color: rgba(0, 0, 0, 1); }
    100% { border-color: rgba(255, 255, 255, 1); }
}
